@import 'tailwindcss';

@theme {
  --color-cinder: #11151c;
  --color-ebony-clay: #212d40;
  --color-pickled-bluewood: #364156;
  --color-rosy-finch: #7d4e57;
  --color-orange-salmon: #d66853;
  --color-light-orange-salmon: #da7764;
  --color-off-white: #f4f3ef;
  --color-lightgray: #dcdbd7;
  --color-white: #f4f3ef;
  --color-border: #c8c8c1;
}

body {
  background: linear-gradient(
    135deg,
    var(--color-cinder),
    var(--color-ebony-clay),
    var(--color-pickled-bluewood),
    var(--color-rosy-finch)
  );
  background-size: 300% 300%;
  animation: gradientShift 10s ease infinite;
  min-height: 100vh;
  margin: 0;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Racing Sans One', sans-serif;
  font-weight: 400;
}

/* An animation/keyframing for changing the gradient on the main background. */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
